.part2 {
  width: 50%;
  height: 100%;
  background: url(../../assets/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.fontaf {
  font-family: Lob;
  color: white;
  font-size: 2.2em;
  padding-left: 2em;
  padding-right: 2em;
}
.sid {
  font-family: Rocket;
  color: rgb(255, 174, 0);
}
