.part2 {
  width: 50%;
  height: 100%;
  background: url(../../assets/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.fontaf {
  font-family: "Poppins", "sans-serif";
  color: white;
  font-size: 2.2em;
  padding-left: 1.1em;
  padding-right: 1.1em;
}
.fontaf h2 {
  margin: 0;
}

.sid {
  /* font-family: "Playball", cursive; */
  font-family: "Clicker Script", cursive;
  color: rgb(255, 174, 0);
  font-size: 1.5em;
}
.para {
  font-size: 25px;
  color: rgb(122, 122, 122);
  margin: 0;
}
.code p {
  padding: 0;
  margin: 0;
  color: rgb(255, 174, 0);
  font-family: "Clicker Script", cursive;
  font-size: 2.5em;
}
