.part1 {
  width: 50%;
  height: 100%;
  padding: 2em;
  padding-top: 3em;
  display: flex;
  justify-content: left;
  align-items: center;
}
.part2 {
  width: 50%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
  margin-left: 3em;
}
.txt {
  width: 100%;
  padding-left: 2.1em;
}
.txt h3 {
  font-size: 4.2em;
  /* margin: 0; */
  color: rgb(255, 174, 0);
}
.para {
  font-size: 20px;
  color: rgb(48, 48, 48);
}
.portrait {
  width: 50%;
  height: 80%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 95%;
  height: 95%;
  border-radius: 5px;
  background: url("../../assets/4.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bolon2 {
  width: 13%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: -42%;
  left: 0%;
  z-index: 3;
}
.bolon3 {
  width: 13%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 0%;
  right: 78%;
  z-index: 3;
}
.bolon4 {
  width: 13%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  bottom: -55%;
  right: 55%;
  z-index: 3;
}

.bol_img {
  width: 70%;
  height: 80%;
}
